<div class="bg-primary shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
  <div class="my-auto pt-10 pb-12 px-6 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
    <h2 class="text-3xl font-extrabold text-white">
      <span class="block">Vous voulez partager l’aventure ?</span>
      <span class="block text-xl">Vous êtes à la recherche d’un logement adapté ?</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-white">Vous êtes investisseurs ? Porteurs de projets ? Institutionnels ? Vous voulez développer un projet à fort impact social ?</p>
    <a href="mailto:yannducoulombier@gmail.com" class="mt-8 bg-white border border-transparent rounded-md px-5 py-3 inline-flex items-center text-base font-medium text-primary hover:bg-secondary">On en discute ?</a>
  </div>
  <div class="m-auto">
    <%= image_tag('contact.png', class:"w-4/5") %>
  </div>
</div>
