<div class="my-16 mx-auto max-w-7xl px-4 lg:my-32">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
    <div class="my-auto">
      <div>
        <div class="mt-6">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
            Maisons conçu pour seniors qui aiment la vie
          </h2>
          <p class="mt-4 text-lg text-gray-500">
            Ici, pas de chichi ! On est acteur de sa vie, on continue à apprendre, à transmettre, à rencontrer et participer à une vie sociale, toujours bien entouré.
          </p>
          <div class="mt-6">
            <a href="mailto:yannducoulombier@gmail.com" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-primary hover:text-secondary">
              S'informer
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 lg:mt-0">
      <%= image_tag("convivialite.jpg", class: "w-full") %>
    </div>
  </div>



  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="my-auto lg:col-start-2">
        <div class="mt-6">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
            Vivre comme chez soi, longtemps !
          </h2>
          <p class="mt-4 text-lg text-gray-500">
            Ici, on partage des espaces de vie communs conçus pour vivre des émotions, une cuisine pour des instants gourmands, des salons moderne pour recevoir sa famille, etc. On vit dans un lieu animé par une maîtresse de maison qui incarne l’âme de la maison, sécurise et renforce le lien social.
          </p>
          <div class="mt-6">
            <a href="mailto:yannducoulombier@gmail.com" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-primary hover:text-secondary">
              S'informer
            </a>
          </div>
        </div>
      </div>
      <div class="mt-12 lg:mt-0">
        <%= image_tag("beach.png", class: "w-full") %>
      </div>
    </div>
  </div>
</div>
