<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="bg-white">
  <div class="p-6">
    <p class="text-center text-base text-gray-400">
      &copy; <%= Date.today.year %> Berlioz. Tous droits réservés.
    </p>
  </div>
</footer>
