<div class="py-6">
  <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4" aria-label="Global">
    <div class="flex items-center flex-1 justify-between">
      <div class="flex items-center justify-between w-full md:w-auto">
        <a href="/">
          <h1 class="text-primary font-black text-3xl">BERLIOZ</h1>
        </a>
      </div>
      <div class="hidden md:block md:ml-10 md:space-x-10">
        <a href="mailto:yannducoulombier@gmail.com" class="font-medium text-black hover:text-primary text-xl">Contact</a>

      </div>
    </div>
  </nav>
</div>
