<h2 class="text-base font-semibold tracking-wider text-primary uppercase"><%= title %></h2>
<p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight">
  <%= header %>
</p>
<p class="mt-5 max-w-prose mx-auto text-gray-600">
  <%= sub_header.html_safe %>
</p>
